<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  <script src="main.js"></script>
  <title>Contacts</title>
</head>

<body ng-app='myApp' ng-controller='mainCtrl'>
  <h1>All the people you know!!</h1>
  <div class="contactinputs">
    <label for="">New Contact: </label>
    <input ng-model='newCon.name' type="text" placeholder='Last, First'>
    <input ng-model='newCon.phone' type="text" placeholder='(555)555-1234'>
    <input ng-model='newCon.email' type="text" placeholder='name@email.com'>
    <button ng-click='addContact()' class='btn btn-info'>Add to Contacts</button>
  </div>

  <div class="container">
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr ng-repeat='contact in conList track by $index'>
          <td>{{contact.name}}</td>
          <td>{{contact.phone}}</td>
          <td>{{contact.email}}</td>
          <td>edit.. you wish!</td>
          <td>
            <button ng-click='deleteCon(contact)' type="button" class='btn btn-danger btn-xs'>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </td>

        </tr>
      </thead>
    </table>
  </div>

</body>
</html>
